In [2]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'B': [10, 100, np.nan, 200, np.nan, np.nan, 20, 25, np.nan, 4]})

In [20]:
df.index.nlevels

1

In [16]:
df.rolling(3, min_periods=2).sum()

       B
0    NaN
1  110.0
2  110.0
3  300.0
4    NaN
5    NaN
6    NaN
7   45.0
8   45.0
9   29.0