In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/bank-marketing-data/bank-additional-one-hot-encoded.csv')

In [9]:
df['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

In [13]:
negatives = df[df['y'] == 0]

In [16]:
positives = df[df['y'] == 1]

In [14]:
negatives.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0,...,0,0,1,0,0,0,0,1,0,0

In [15]:
sliced_negatives = negatives.head(5000)

In [19]:
df = pd.concat([sliced_negatives, positives])

In [34]:
len(df.columns)

64

In [25]:
df.to_csv('../data/bank-marketing-data/bank-additional-balanced-dataset.csv')